@charset "utf-8";
@import url(./common.css);
/* 모바일--------------------------------------------- */
/* 모바일 콘텐츠 */
.content{
  padding: 20px;
  background: #fff;
}
.content .row1 table{width: 100%; /* 패딩값에 맞춰서 들어감 */}
.content .row1 table thead, .content .row1 table tbody{
  font-size: 0.813em; /* 13px */
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.content .row1 table thead{
  background: #2c3e50;
  color: #fff;
}
.content .row1 table thead tr th{padding: 17px 0;}
.content .row1 table thead tr th:nth-child(1),
.content .row1 table thead tr th:nth-child(3),
.content .row1 table thead tr th:nth-child(4),
.content .row1 table tbody tr td:nth-child(1),
.content .row1 table tbody tr td:nth-child(3),
.content .row1 table tbody tr td:nth-child(4){display: none;}
.content .row1 table tbody tr:nth-child(odd){background: #f6f6f6;}
.content .row1 table tbody tr td{padding: 15px 0;}
.content .row2{
  display: flex;
  justify-content: space-between;
  margin: 30px 0 20px 0;
}
.content .row2 .searchbox form input{
  width: 180px;
  height: 30px;
  padding-left: 5px;
}
.content .row2 .searchbox form .selectbox{display: none;}
.content .row2 .writebox a{
  background: #e65d5d;
  display: block;
  width: 70px;
  height: 30px;
  font-size: 0.813em;
  text-align: center;
  line-height: 30px;
}
.content .row3{
  display: flex;
  justify-content: center;
}
.content .row3 span{
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  cursor: pointer;
}
.content .row3 .prevbtn{background: #2ecc71 url(../images/s_images/list_prev_btn.png) no-repeat center;
  margin-right: 10px;
}
.content .row3 a{
  display: block;
  width: 25px;
  height: 25px;
  background: #219af7;
  font-size: 0.813em;
  text-align: center;
  line-height: 25px;
  margin-top: 2px;
}
.content .row3 a:nth-child(3){margin: 2px 6px 0;}
.content .row3 .nextbtn{background: #2ecc71 url(../images/s_images/list_next_btn.png) no-repeat center;
  margin-left: 10px;
}
/* 태블릿--------------------------------------------- */
@media all and (min-width: 768px){

  /* 탭 콘텐츠 */
  .content{padding: 40px;}
  .content .row1 table thead tr th:nth-child(1),
.content .row1 table thead tr th:nth-child(3),
.content .row1 table thead tr th:nth-child(4),
.content .row1 table tbody tr td:nth-child(1),
.content .row1 table tbody tr td:nth-child(3),
.content .row1 table tbody tr td:nth-child(4){display: table-cell}
  .content .row2 .searchbox form .selectbox{
    display: inline-block;
    position: relative;
  }
  .content .row2 .searchbox form .selectbox span{
    background: #e65d5d;
    display: block;
    width: 80px;
    height: 30px;
    font-size: 0.813em;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }
  .content .row2 .searchbox form .selectbox .selectlist{
    background: #e65d5d;
    width: 80px;
    font-size: 0.813em;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 35px;
    cursor: pointer;
    display: none;
  }
  .content .row2 .searchbox form .selectbox:hover .selectlist{display: block;}
  .content .row2 .searchbox form .selectbox .selectlist li{padding: 4px 0;}
}/* end */
/* PC------------------------------------------------- */
@media all and (min-width: 960px){

  .content{padding: 60px;}
}/* end */