@charset "UTF-8";

@import url(../css/common.css);

/* 모바일-------------------- */

.content{
  padding: 20px;
  background: #fff;
}

/* row-1 */
.content .gallerylist li{
  margin-bottom: 20px;
}
.content .gallerylist li a img{
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.content .gallerylist li a:hover img{
  filter: grayscale(0);
}

/* row-2 */
.selectbox{display: none;}
.row2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* 검색어 */
.searchbox form input{
  width: 120px;
  height: 30px;
  padding-left: 5px;
}

/* 글쓰기 */
.writebox a{
  display: block;
  width: 70px;
  height: 30px;
  background: #e65d5d;
  font-size: 0.813em; /*13px*/
  text-align: center;
  line-height: 30px;
}

/* row-3 */
.row3{
  display: flex;
  justify-content: center;
}
.row3 span{
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  cursor: pointer;
}
.row3 .prvebtn{
  background: #2ecc71 url(../images/s_images/list_prev_btn.png) no-repeat center;
  margin-right: 10px;
}
.row3 .nextbtn{
  background: #2ecc71 url(../images/s_images/list_next_btn.png) no-repeat center;
  margin-left: 10px;  
}
 
.row3 a{
  display: block;
  color: #219af7;
  border: 1px solid #219af7;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 0.813em; /*13px*/
  transition: all 0.3s;
}
.row3 a:hover{
  background: #219af7;
  color: #fff;
}
.row3 a:nthchild(3){
  margin: 0 6px;
}
/* 태블릿--------------------------------------------------------------- */
@media all and (min-width : 768px){
  /* 탭 콘텐츠 */
  .content{padding: 40px;}
  /* 탭 갤러리 */
  .content .gallerylist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content .gallerylist li{width: 48%;}
  .searchbox .selectbox{
    display: inline-block;
    position: relative;
  }
  .searchbox .selectbox span{
    background: #e65d5d;
    display: block;
    width: 80px;
    height: 30px;
    font-size: 0.813em;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
  }
  .searchbox .selectbox .selectlist{
    background: #e65d5d;
    width: 80px;
    font-size: 0.813em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 6px 0;
    position: absolute;
    top: 35px;
    display: none;
  }
  .searchbox .selectbox .selectlist li{padding: 4px 0;}
}
.searchbox .selectbox:hover .selectlist{display: block;}
/* PC------------------------------------------------------------------- */
@media all and (min-width : 960px){
.content .gallerylist li{width: 23%;}
}
