@charset "utf-8";
/* 모바일 --------------------------------------------------------- */
#wrap{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
/* 모바일 인포메이션 */
.info{
  order: 1;
  width: 100%;
  background: #2ecc71;
  border-bottom: 1px solid #39d67c;
}
.info .infolist{display: flex;}
.info .infolist li{
  width: 25%;
  text-align: center;
}
.info .infolist li a{
  display: block; /* a는 인라인요소이기 때문에 값을 넣으려면 block 해줘야함 */
  padding: 15px 0;
}
/* 모바일 헤더 */
header{
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #2ecc71;
  position: relative;
}
header h1{
  background: #2ecc71;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  text-shadow: 0 1px 1px #25ab5e;
  padding: 30px 0;
  width: 100%;
}
header nav .gnb{display: none;}
header nav .gnb li{
  display: flex;
  width: 100%;
  background: #2c3e50;
}
header nav .gnb li a{
  width: 80%;
  text-indent: 20px;
  font-weight: bold;
  font-size: 0.938em; /* 15px */
  padding: 20px 0;
}
header nav .gnb li .submenutoggle{
  width: 20%;
  text-indent: -9999px;
  background: url(../images/s_images/sub_menu_toggle_btn.png) no-repeat center;
  cursor: pointer;
}
header .menutogglebtn{
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url(../images/s_images/menu_toggle_btn.png);
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
/* 모바일 슬라이드 */
.slide{
  order: 3;
  width: 100%;
  height: 300px;
  background: url(../images/p_images/slider_01.jpg) no-repeat center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide span{
  text-indent: -9999px;
  width: 34px;
  height: 39px;
  background: url(../images/s_images/slider_arrow.png) no-repeat;
}
.slide .prevbtn{margin-left: -10px;}
.slide .nextbtn{
  background-position: -34px 0;
  margin-right: -10px;
}
/* 모바일 최근글, 인기글 */
.latest{
  order: 4;
  background: #ffc40f;
}
.popular{
  order: 5;
  background: #a660c2;
}
.latest, .popular{padding: 40px 12.5%;}
.latest .title, .latest .list li a{text-shadow: 0 1px 1px #b98e0b;}
.popular .title, .popular .list li a{text-shadow: 0 1px 1px #633476;}
.title{
  text-align: center;
  color: #fff;
  font-size: 1.25em; /* 20px */
  margin-bottom: 30px;
}
.list li{
  background: url(../images/s_images/post_circle_icon.png) no-repeat left center;
  padding-left: 12px;
  margin-bottom: 15px;
}
.list li a{text-transform: uppercase;}
/* 모바일 갤러리 */
.gallery{
  order: 6;
  padding: 50px 12.5%;
  background: #e65d5d;
  text-align: center;
}
.gallery .gallerylist li:first-child{margin-bottom: 30px;}
.gallery .gallerylist li a figure img{
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 1px #b23f3f;
}
.gallery .gallerylist li a figure figcaption{
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 10px;
}
/* 모바일 인기검색어 */
.rankup{
  order: 7;
  padding: 40px 12.5%;
  background: #219af7;
  text-shadow: 0 1px 1px #176098;
}
.rankup h2{
  text-align: center;
  color: #fff;
  font-size: 1.25em;
}
.rankup .rankuplist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rankup .rankuplist li{
  width: 45%;
  margin-top: 15px;
}
.rankup .rankuplist li a{
  display: block;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: bold;
}
/* 모바일 배너 */
.banner{order: 8;}
.banner div{
  padding: 30px 12.5%;
  text-align: center;
}
.banner .banner1{background: #e6567a;}
.banner .banner2{background: #c44968;}
.banner .banner2 .bannerlist{
  display: flex;
  justify-content: space-between;
}
/* 모바일 소셜 */
.social{
  order: 9;
  background: #fff;
  padding: 30px 12.5%;
}
.social .sociallist{
  display: flex;
  justify-content: space-between;
}
/* 모바일 푸터 */
footer{
  order: 10;
  background: #474747;
  padding: 20px 12.5%;
  width: 100%;
}
footer p{
  text-align: center;
  font-size: 0.625em; /* 10px */
  color: #fff;
  text-transform: uppercase;
}
/* 태블릿 --------------------------------------------------------- */
@media all and (min-width : 768px){
  #wrap{flex-flow: row wrap;} /* 가로방향, 여러줄로 변경 */
  /* 인포메이션 영역은 변하는게 없으므로 생략 */
  /* 탭 헤더 */
  header h1{
    position: absolute;
    top: 0;
    left: 0;
    /* (120/768)*100=15.625 */
    width: 15.625%;
    padding: 0;
    z-index: 10;
  }
  header h1 a{
    display: block;
    padding: 30px 0;
  }
  header nav{
    background: #2ecc71;
    min-height: 70px; /* 값이하로는 줄어들지 않게 */
  }
header .menutogglebtn{
  top: 30%;
  z-index: 20;
}
header nav .gnb{
  position: absolute;
  right: 0;
  top: 100%;
  /* (310/768)*100=40.36458333333333 */
  width: 40.36458333333333%;
}
/* 탭 슬라이드 */
.slide{
  order: 3;
  /* (460/768)*100=59.89583333333333 */
  width: 59.89583333333333%;
  height: auto; /* 옆에오는 요소에 맞게 높이가 자동조정됨 */
}
.slide span{position: relative; z-index: 5;}
/* 탭 인기검색어 */
.rankup{
  order: 4;
  /* (308/768)*100=40.10416666666667 */
  width: 40.10416666666667%;
  padding: 40px 3%;
}
/* 탭 최근글, 인기글 */
.latest{order: 5;}
.popular{order: 6;}
.latest, .popular{
  /* (320/768)*100= */
  width: 41.66666666666667%;
  padding: 40px 2%;
}
/* 탭 소셜 */
.social{
  order: 7;
  /* (128/768)*100=16.66666666666667 */
  width: 16.66666666666667%;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .sociallist{flex-direction: column;}
.social .sociallist li:nth-child(2){margin: 24px 0;}
/* 탭 갤러리 */
.gallery{
  order: 8;
  /* (548/768)*100=71.35416666666667 */
  width: 71.35416666666667%;
  padding: 40px 5%;
}
.gallery .gallerylist{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.gallery .gallerylist li{width: 48%;}
.gallery .gallerylist li:first-child{margin-bottom: 0;}
/* 탭 배너 */
.banner{
  order: 9;
  /* (220/768)*100=28.64583333333333 */
  width: 28.64583333333333%;
}
.banner div{
  flex: 1 1 0;
  padding: 40px 5%;
}
/* 탭 푸터 */
footer p{
  font-size: 0.813em; /* 13px */
  padding: 20px 5%;
}
}/* end */
/* PC ------------------------------------------------------------ */
@media all and (min-width : 960px){
  /* wrap : 960 */
  #wrap{
    width: 90%;
    position: relative;
  }
  /* PC 인포 */
  .info{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 30;
    width: auto; /* 기존값(위에서 적용시켜준 값) 초기화 */
    border-bottom: 0; /* 라인삭제 */
  }
  .info .infolist li{margin-left: 15px;}
  .info .infolist li a{padding: 0;}
  /* PC 헤더 */
  header{
    order: 1;
    flex-direction: row;
    justify-content: flex-end;
  }
  header h1{
    /* (120/960)*100=12.5 */
    width: 12.5%;
  }
  header nav{
    /* (840/960)*100=87.5 */
    width: 87.5%;
  }
  header nav .gnb{
    display: flex; /* dispaly: none 사용한것을 flex로해도 보임. */
    width: 100%;
    position: static; /* position을 해제(기본상태) */
    margin-top: 25px;
    margin-left: 50px;
  }
  header nav .gnb li{
  width: auto;
  background: none; /* 배경색 삭제 */
  margin-right: 50px;
  }
  header nav .gnb li a{
    width: auto;
    padding: 0;
    text-indent: 0;
  }
  header nav .gnb li .submenutoggle, .menutogglebtn{display: none !important;} /* !important : 우선순위를 최고로 올려주어 적용시켜줌 */
  /* PC 슬라이드 */
  .slide{
    order: 2;
    width: 50%;
  }
  /* PC 갤러리 */
  .gallery{
    order: 3;
    /* (260/960)*100= */
    width: 27.08333333333333%;
  }
  .gallery .gallerylist{flex-wrap: wrap;}
  .gallery .gallerylist li{width: 100%;}
  .gallery .gallerylist li:first-child{margin-bottom: 60px;}
  /* PC 인기검색어 */
  .rankup{
    order: 4;
    /* (220/960)*100= */
    width: 22.91666666666667%;
  }
  .rankup .rankuplist{
    width: 65%;
    margin: 10px auto;
  }
  .rankup .rankuplist li{
    width: 100%;
    counter-increment: rankupcounter; /* 내가사용할 이름 지정 */
  }
  .rankup .rankuplist li::before{
    content: counter(rankupcounter) '.';
    color: #fff;
    font-weight: bold;
    padding-right: 5px;
  }
  .rankup .rankuplist li a{
    border: 0;
    text-align: left;
    display: inline; /* block 을 inline으로 변경 */
  }
  /* PC 최근글, 인기글 */
  .latest{order: 5;}
  .popular{order: 6;}
  .latest, .popular{
    /* (288/960)*100=30 */
    width: 30%;
  }
  /* PC 배너 */
  .banner{
    order: 7;
    /* (220/960)*100=22.91666666666667 */
    width: 22.91666666666667%;
    display: flex;
    flex-flow: row wrap;
  }
  .banner div{flex: 1 1 0;}
  /* PC 소셜 */
  .social{
    order: 8;
    /* (164/960)*100 */
    width: 17.08333333333333%;
  }
  /* PC 푸터 */
  footer{
    order: 9;
    padding: 0;
  }
  footer p{
  text-align: left;
  padding: 30px 5%;
  }
}/* end */