@charset "utf-8";
/* 모바일 -----------------------------------------------------------------*/
#wrap{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  flex-flow: column nowrap;
}
/* 모바일 인포메이션 */
.info{
  order: 1;
  width: 100%;
  background: #2ecc71;
  border-bottom: 1px solid #39d67c;
}
.info .infolist{display: flex;}
.info .infolist li{
  width: 25%;
  text-align: center;
}
.info .infolist li a{
  display: block;
  padding: 15px 0;
}
/* 모바일 헤더 */
header{
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #2ecc71;
  position: relative;
}
header h1{
  background: #2ecc71;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0 1px 1px #25ab5e;
  width: 100%;
  padding: 30px 0;
}
header nav .gnb{display: none;}
header nav .gnb li{
  display: flex;
  width: 100%;
  background: #2c3e50;
}
header nav .gnb li a{
  width: 80%;
  text-indent: 20px;
  font-weight: bold;
  font-size: 0.938em; /* 15px */
  padding: 20px 0;
}
header nav .gnb li .submenutoggle{
  width: 20%;
  text-indent: -9999px;
  background: url(../images/s_images/sub_menu_toggle_btn.png) no-repeat center;
  cursor: pointer;
}
header .menutogglebtn{
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/s_images/menu_toggle_btn.png) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
/* 모바일 서브타이틀 */
.subtitle{
  order: 3;
  padding: 45px 0;
  text-align: center;
  background: #219af7;
}
.subtitle h2{
  color: #fff;
  font-size: 1.25em; /* 20px */
  font-weight: bold;
  margin-bottom: 12px;
}
.subtitle .sublist{
  display: flex;
  justify-content: center;
}
.subtitle .sublist li a{font-size: 0.813em;} /* 13px */
/* 모바일 콘텐츠 */
.content{
  order: 4;
  padding: 20px;
  background: #fff;
}
.content>div{
  margin-top: 60px;
  text-align: center;
}
.content>div:first-child{margin-top: 0;}
/* 1행 */
.content .row1 img{
  width: 100%;
  max-width: 100%;
}
.content .row1 h3{
  margin: 25px 0;
  font-size: 1.25em; /* 20px */
}
.content .row1 p{
  color: #444;
  font-size: 0.875em; /* 14px */
  line-height: 1.5;
  text-align: justify; /* 텍스트 양쪽 정렬 */
}
/* 2행 */
.content .row2 article{margin-bottom: 40px;}
.content .row2 article img{max-width: 100%;}
.content .row2 article h4{
  margin: 25px 0;
  font-size: 1.063em; /* 17px */
}
.content .row2 article p{
  color: #444;
  font-size: 0.875em; /* 14px */
  line-height: 1.5;
  text-align: justify; 
}
/* 3행 */
.content .row3 h4{
  margin: 25px 0;
  font-size: 1.063em; /* 17px */
  text-align: left;
  border-bottom: 2px solid #25ab5e;
  padding-bottom: 8px;
}
.content .row3 .para p{
  color: #444;
  font-size: 0.875em; /* 14px */
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}
/* 모바일 푸터 */
footer{
  order: 5;
  background: #474747;
  padding: 20px 12.5%;
  width: 100%;
}
footer p{
  text-align: center;
  font-size: 0.625em; /* 10px */
  text-transform: uppercase;
  color: #fff;
}
/* 태블릿 -----------------------------------------------------------------*/
@media all and (min-width : 768px){
  /* 태블릿 헤더 */
  header{flex-direction: row;}
  header h1{
    position: absolute;
    top: 0;
    left: 0;
    /* (120/768)*100=15.625 */
    width: 15.625%;
  }
  header nav{
    background: #2ecc71;
    width: 100%;
    min-height: 80px;
  }
  header nav .gnb{
    /* (310/768)*100=40.36458333333333 */
    width: 40.36458333333333%;
    position: absolute;
    top: 100%;
    right: 0;
  }
  /* 태블릿 컨텐츠 */
  .content{padding: 40px;}
  /* 태블릿 푸터 */
  footer p{
    font-size: 0.813em; /* 13px */
    padding: 20px 5%;
  }
}
/* PC--------------------- */
@media all and (min-width : 960px){
  /* wrap : 960 */
  #wrap{
    width: 90%;
    position: relative;
  }

  /* pc-인포메이션 */
  .info{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 30;
    width: auto;
    border-bottom:0;
  }
  .info .infolist li{margin-left: 15px;}
  .info .infolist li a{padding: 0;}

  /* pc-헤더영역 */
  header{
    flex-direction: row;
    justify-content: flex-end;
  }
  header h1{
    /* (120 / 960) x 100 */
    width: 12.5%;
  }
  header nav{
    /* (840 / 960) x 100 */
    width: 87.5%;
  }
  header nav .gnb{
    display: flex;
    width: 100%;
    position: static;
    margin-top: 25px;
    margin-left: 50px;
  }
  header nav .gnb li{
    background: none;
    width: auto;
    margin-right: 50px;
  }
  header nav .gnb li a{
    width: auto;
    padding: 0;
    text-indent: 0;
  }
  header nav .gnb li .submenutoggle,
  .menutogglebtn{display: none !important;}
  .row2{
    display: flex;
    justify-content: space-between;
  }
  .row2 article{
    width: 30%;
  }
  .row3 .para{
    display: flex;
    justify-content: space-between;
  }
  .row3 .para p{width: 48%;}
  footer{padding: 0;}
  footer p{
    text-align: left;
    padding:30px 5%;
  }
}